<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Создать</title>
</head>
<body>
<a class="login-button" href="{% url 'companies'%}">Назад к компаниям</a>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
    <ul>
        {% for error in form.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button class="login-button" type="submit">Создать</button>
</form>
</body>
{% endblock %}
</html>