<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% load render_table from django_tables2 %}
<head>
    <meta charset="UTF-8">
    <title>Журнал договоров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
{% endfor %}
{% endif %}
    <a class="btn btn-secondary" href="{% url 'documents' %}">Назад</a>
    <h1 align="Center">Журнал договоров</h1>
<a class="btn btn-primary" href="{% url 'document-create' %}">
  Добавить документ
</a>
    <hr>
    <div align="left">
    {% render_table table %}
    </div>
</body>

{% endblock %}
</html>