<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Журнал {{journal_name}}</title>
</head>
<body>
<h1>Журнал {{journal_name}}</h1>
<table style="border-collapse: collapse;
  border: 2px solid rgb(140 140 140);">
    <tr>
        <th>дата</th>
        <th>номер</th>
        <th>заказчик</th>
        <th>исполнитель</th>
        <th>вид договора</th>
        <th>валюта</th>
        <th>статус</th>
        <th>дата статуса</th>
        <th>принят по sbt</th>
    </tr>
{% for journal_row in journal_rows %}
    <tr>
        <th>{{journal_row.date}}</th>
        <th>{{journal_row.number}}</th>
        <th>{{journal_row.customer}}</th>
        <th>{{journal_row.contractor}}</th>
        <th>{{journal_row.contract_type}}</th>
        <th>{{journal_row.currency}}</th>
        <th>{{journal_row.status}}</th>
        <th>{{journal_row.status_date}}</th>
        <th>{{journal_row.sbt}}</th>
        <th><a href="">Изменить запись</a></th>
    </tr>
    {% empty %}
    <h3>Нет записей</h3>
{% endfor %}
<br>
</table>
<br>
<a href="{% url 'journal-create' pk%}">Добавить запись</a>

</body>

{% endblock %}
</html>